:root {
    --gray-25: #fcfcfd;
    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-200: #eaecf0;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1d2939;
    --gray-900: #101828;
    --primary-25: #fcfaff;
    --primary-50: #f9f5ff;
    --primary-100: #f4ebff;
    --primary-200: #e9d7fe;
    --primary-300: #d6bbfb;
    --primary-400: #b692f6;
    --primary-500: #9e77ed;
    --primary-600: #7f56d9;
    --primary-700: #6941c6;
    --primary-800: #53389e;
    --primary-900: #42307d;
    --font-family: "Inter", arial, sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --display-2xl: 4.5rem/5.625rem;
    --display-xl: 3.75rem/4.5rem;
    --display-lg: 3rem/3.75rem;
    --display-md: 2.25rem/2.75rem;
    --display-sm: 1.875rem/2.375rem;
    --display-xs: 1.5rem/2rem;
    --text-xl: 1.25rem/1.875rem;
    --text-lg: 1.125rem/1.75rem;
    --text-md: 1rem/1.5rem;
    --text-sm: 0.875rem/1.25rem;
    --text-xs: 0.75rem/1.125rem;
    --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
    --shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    --shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    --shadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    --shadow-sm: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box
}

* {
    border: none;
}

body {
    margin: 0;
    font: var(--font-regular) var(--text-lg) var(--font-family);
    color: var(--gray-500);
}

hr {
    height: 1px;
    background: var(--gray-200);
}

h1,
h2,
h3 {
    color: var(--gray-900);
}

h1 {
    font: var(--font-semibold) var(--display-lg) var(--font-family);
}

h2 {
    font: var(--font-semibold) var(--display-sm) var(--font-family);
}

h3 {
    font: var(--font-semibold) var(--display-xs) var(--font-family);
}

img {
    display: block;
    max-width: 100%;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

:focus:not(:focus-visible) {
    outline: none;
}

p {
    margin: 0 0 1rem 0;
}


/* LAYOUT */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

nav {
    grid-area: "nav";
    width: 100%;
    border-bottom: 5px solid var(--primary-700);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    max-width: 1280px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* NAVIGATION */
.nav-logo {
    display: block;
}

.nav-logo img {
    min-width: 150px;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 1rem;
}

.nav-link {
    display: block;
    font: var(--font-semibold) var(--text-md) var(--font-family);
    color: var(--gray-500);
    text-decoration: none;
}

.nav-link {
    transition: color 0.5s ease-in-out;
}

.nav-link:hover {
    color: var(--gray-700);
}

.nav-link:focus {
    color: var(--gray-500);
}

.nav-link.active {
    color: var(--primary-700);
}