:root {
    --gray-25: #fcfcfd;
    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-200: #eaecf0;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1d2939;
    --gray-900: #101828;
    --primary-25: #fcfaff;
    --primary-50: #f9f5ff;
    --primary-100: #f4ebff;
    --primary-200: #e9d7fe;
    --primary-300: #d6bbfb;
    --primary-400: #b692f6;
    --primary-500: #9e77ed;
    --primary-600: #7f56d9;
    --primary-700: #6941c6;
    --primary-800: #53389e;
    --primary-900: #42307d;
    --font-family: "Inter", arial, sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --display-2xl: 4.5rem/5.625rem;
    --display-xl: 3.75rem/4.5rem;
    --display-lg: 3rem/3.75rem;
    --display-md: 2.25rem/2.75rem;
    --display-sm: 1.875rem/2.375rem;
    --display-xs: 1.5rem/2rem;
    --text-xl: 1.25rem/1.875rem;
    --text-lg: 1.125rem/1.75rem;
    --text-md: 1rem/1.5rem;
    --text-sm: 0.875rem/1.25rem;
    --text-xs: 0.75rem/1.125rem;
    --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
    --shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    --shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    --shadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    --shadow-sm: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/* Base */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    border: none;
}

body {
    margin: 0;
    font: var(--font-regular) var(--text-lg) var(--font-family);
    color: var(--gray-500);
}

hr {
    height: 1px;
    background: var(--gray-200);
}

h1,
h2,
h3 {
    color: var(--gray-900);
}

h1 {
    font: var(--font-semibold) var(--display-lg) var(--font-family);
}

h2 {
    font: var(--font-semibold) var(--display-sm) var(--font-family);
}

h3 {
    font: var(--font-semibold) var(--display-xs) var(--font-family);
}

img {
    display: block;
    max-width: 100%;
}

figure {
    margin: 3rem 0;
}

figcaption {
    font: var(--font-regular) var(--text-sm) var(--font-family);
    margin-top: 1rem;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

:focus:not(:focus-visible) {
    outline: none;
}

p {
    margin: 0 0 1rem 0;
}


/* Layout */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

nav {
    grid-area: "nav";
    width: 100%;
    border-bottom: 1px solid var(--gray-100);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    border-top: 1px solid var(--gray-100);
}

section,
header {
    padding: 2rem;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding: 0 1rem;
}

.py-1 {
    padding: 1rem 0;
}

.p-2 {
    padding: 2rem;
}

.px-2 {
    padding: 0 1rem;
}

.py-2 {
    padding: 2rem 0;
}


/* Solid Background Colors */
.bg-gray-25 {
    background-color: var(--gray-25);
}

.bg-gray-50 {
    background-color: var(--gray-50);
}

.bg-gray-100 {
    background-color: var(--gray-100);
}

.bg-gray-200 {
    background-color: var(--gray-200);
}

.bg-gray-300 {
    background-color: var(--gray-300);
}

.bg-gray-400 {
    background-color: var(--gray-400);
}

.bg-gray-500 {
    background-color: var(--gray-500);
}

.bg-gray-600 {
    background-color: var(--gray-600);
}

.bg-gray-700 {
    background-color: var(--gray-700);
}

.bg-gray-800 {
    background-color: var(--gray-800);
}

.bg-gray-900 {
    background-color: var(--gray-900);
}

.bg-primary-25 {
    background-color: var(--primary-25);
}

.bg-primary-50 {
    background-color: var(--primary-50);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.bg-primary-200 {
    background-color: var(--primary-200);
}

.bg-primary-300 {
    background-color: var(--primary-300);
}

.bg-primary-400 {
    background-color: var(--primary-400);
}

.bg-primary-500 {
    background-color: var(--primary-500);
}

.bg-primary-600 {
    background-color: var(--primary-600);
}

.bg-primary-700 {
    background-color: var(--primary-700);
}

.bg-primary-800 {
    background-color: var(--primary-800);
}

.bg-primary-900 {
    background-color: var(--primary-900);
}


/* Navigation */
.nav-logo {
    display: block;
}

.nav-logo img {
    min-width: 150px;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 1rem;
}

.nav-link {
    display: block;
    font: var(--font-semibold) var(--text-md) var(--font-family);
    color: var(--gray-500);
    text-decoration: none;
}

.nav-link {
    transition: color 0.5s ease-in-out;
}

.nav-link:hover {
    color: var(--gray-700);
}

.nav-link:focus {
    color: var(--gray-500);
}

.nav-link.active {
    color: var(--primary-700);
}


/* Footer */
.copyright {
    font: var(--font-regular) var(--text-sm) var(--font-family);
    color: var(--gray-400);
}


/* Blog Post Card */
.row:has(> .card) {
    align-items: stretch;
    gap: 2%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: var(--shadow-lg);
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    width: 32%;
    transition: 0.3s;
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: var(--shadow-2xl);
}

.card-title {
    font: var(--font-semibold) var(--display-xs) var(--font-family);
    color: var(--gray-900);
    margin: 2rem 0 1rem 0;
    background: url(../images/icon-arrow.svg) no-repeat right 5px;
    padding-right: 30px;
}

.card-text {
    font: var(--font-regular) var(--text-md) var(--font-family);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.covered-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}


/* Form and Input */
input {
    background: #fff;
    border: 1px solid var(--gray-300);
    box-shadow: var(--shadow-xs);
    border-radius: 0.5rem;
    padding: 10px 14px;
    font: var(--font-regular) var(--text-md) var(--font-family);
    color: var(--gray-900);
    margin-bottom: 0.5rem;
}

input[type=email] {
    background: url(../images/icon-email.svg) no-repeat 10px center #fff;
    padding-left: 2.5rem;
}

.search-input {
    background: url(../images/icon-search.svg) no-repeat 10px center #fff;
    padding-left: 2.5rem;
    margin-top: 2.2rem;
    width: 20rem;
}

::placeholder {
    color: var(--gray-500);
}

input:focus,
input:focus-within,
input:focus-visible {
    outline:none;
    border: 1px solid var(--primary-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--primary-100);
}

.btn {
    background: var(--primary-600);
    border: 1px solid var(--primary-600);
    box-shadow: var(--shadow-xs);
    border-radius: 8px;
    padding: 10px 18px;
    font: var(--font-semibold) var(--text-md) var(--font-family);
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: var(--primary-700);
    border: 1px solid var(--primary-700);
}

.btn:focus {
    background: var(--primary-600);
    border: 1px solid var(--primary-600);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--primary-100);
}