@import url(global.css);
@import url(responsive.css);

.bg-pattern {
    background: url(../images/bg-home.svg) no-repeat center top;
    background-size: 100%;
}

h1 {
    color: var(--primary-900);
}