@import url(global.css);
@import url(responsive.css);

.bg-pattern {
    background: url(../images/bg-home.svg) no-repeat center top;
    background-size: 100%;
}

h1 {
    margin-top: 0;
    color: var(--primary-900);
}

.support-text {
    font: var(--font-regular) var(--text-xl) var(--font-family);
    color: var(--primary-700);
}

.cta-body {
    margin-bottom: 1.25rem;
}

.cta-title {
    font: var(--font-semibold) var(--display-md) var(--font-family);
    color: var(--primary-900);
    margin-bottom: 1.25rem;
}