@import url(global.css);
@import url(responsive.css);

time {
    display: block;
    font: var(--font-semibold) var(--text-md) var(--font-family);
    color: var(--primary-600);
    margin-top: 3rem;
}