/* Mobile Phone */
@media(max-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0 1rem;
    }
}


/* Tablet */
@media(max-width: 768px) {
    .container {
        max-width: 704px;
    }
}


/* Desltop & Laptop */
@media(min-width: 769px) {
    .container {
        max-width: 1280px;
    }
}