/* Mobile Phone */
@media(max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .nav-item {
        padding: 0.35rem;
    }

    .card {
        width: 100%;
    }
}


/* Tablet */
@media(max-width: 991px) and (min-width: 768px) {
    .container {
        max-width: 704px;
    }

    .nav-item {
        padding: 0.5rem;
    }

    .card {
        width: 48%;
    }
}