/* Mobile Phone */
@media(max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .nav-item {
        padding: 0.35rem;
    }

    .card,
    .related-post .card {
        width: 100%;
    }

    .cta input,
    .cta .btn {
        width: 100%;
    }

    .rich-text,
    .conclusion,
    .info {
        width: 100%;
        min-width: 100%;
        padding: 2rem;
    }
}


/* Tablet */
@media(max-width: 991px) and (min-width: 768px) {
    .container {
        max-width: 704px;
    }

    .nav-item {
        padding: 0.5rem;
    }

    .card {
        width: 48%;
    }

    .rich-text,
    .conclusion,
    .info {
        width: 80%;
        min-width: 720px;
        padding: 0;
    }

    .related-post .card {
        width: 49%;
    }
}